<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_boost_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{73,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,101}}</string>
                <key>sourceSize</key>
                <string>{73,101}</string>
            </dict>
            <key>player_boost_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{73,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,101}}</string>
                <key>sourceSize</key>
                <string>{73,101}</string>
            </dict>
            <key>player_boost_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{73,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,101}}</string>
                <key>sourceSize</key>
                <string>{73,101}</string>
            </dict>
            <key>player_boost_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,101}}</string>
                <key>sourceSize</key>
                <string>{73,101}</string>
            </dict>
            <key>player_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,105},{73,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,100}}</string>
                <key>sourceSize</key>
                <string>{73,100}</string>
            </dict>
            <key>player_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,105},{73,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,100}}</string>
                <key>sourceSize</key>
                <string>{73,100}</string>
            </dict>
            <key>player_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,105},{73,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,100}}</string>
                <key>sourceSize</key>
                <string>{73,100}</string>
            </dict>
            <key>player_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{73,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,100}}</string>
                <key>sourceSize</key>
                <string>{73,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_anim.png</string>
            <key>size</key>
            <string>{302,207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e7e9a1d5ea77aed21b49d38c6299f9a:b827633c7689ad178b0b07714525d844:9b1a50043d287fd34c39bc2c637e8bd7$</string>
            <key>textureFileName</key>
            <string>player_anim.png</string>
        </dict>
    </dict>
</plist>
