<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{62,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,98}}</string>
                <key>sourceSize</key>
                <string>{62,98}</string>
            </dict>
            <key>enemy_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{62,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,98}}</string>
                <key>sourceSize</key>
                <string>{62,98}</string>
            </dict>
            <key>enemy_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,99}}</string>
                <key>sourceSize</key>
                <string>{63,99}</string>
            </dict>
            <key>enemy_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{62,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,99}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy_anim.png</string>
            <key>size</key>
            <string>{259,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:473f713ed289f878797e2ec0c32d886b:7046c736a7908b4bb530241519b83a68:fa8d63b0e80a057cda4467d17e42890a$</string>
            <key>textureFileName</key>
            <string>enemy_anim.png</string>
        </dict>
    </dict>
</plist>
